body {
  background: linear-gradient(90deg, #f598a8, #f6edb2);
}

.search-form {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 50px;
}

.input {
  padding-left: 10px;
  width: 300px;
  height: 40px;
  border: transparent;
  color: rgb(173, 16, 16);
  background-color: rgb(252, 184, 117);
  border-radius: 10px;
  margin-bottom: 10px;
}

.input::placeholder {
  color: rgb(173, 16, 16);
}

.btn {
  border: transparent;
  border-radius: 10px;
  width: 100px;
  height: 40px;
  color: rgb(173, 16, 16);
  background-color: rgb(252, 184, 117);

  margin-right: 10px;
  margin-left: 10px;
}

.btn:hover {
  color: rgb(173, 16, 16);
  background-color: rgb(252, 184, 117);
  background-color: rgb(248, 161, 79);
  cursor: pointer;
}
